.example-form {
  min-width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.example-full-width {
  width: 50%;
}

.fetch-button {
  margin-left: 1rem;
}

.example-card {
  min-width: 200px;
  max-width: 200px;
  min-height: 50px;
  margin: 1rem;
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}